 
	body {
		background-color: #FAFAFA;
		font-family: 'Roboto', sans-serif;
	}
	
	#left_column {
		width: 50%;
		padding: 20px;
		float: left;
		box-sizing: border-box;
	}

	#right_column {
		width: 50%;
		padding: 20px;
		float: left;
		box-sizing: border-box;
	}

	@media only screen {

		#wrapper{
			width: 600px;
		}

	@media only screen and (max-width: 1280px){

		#wrapper{
			width: 600px;
		}

	@media only screen and (max-width: 900px){

		#wrapper{
			width: 500px;
		}

	}
	}
	@media only screen and (max-width: 480px){

		#wrapper{
			width: 100%;
			padding: 20px;
		}

		#left_column {
			width: 100%;
		}

		#right_column {
			width: 100%;
		}
	}

	#wrapper {
		background-color: white;
		width: 600px;
		padding: 50px;
		margin-left: auto;
		margin-right: auto;
	}

	

	.clr {
		clear: both;
	}

	.img_responsiveness {
		width: 100%
	}

	img {
		width: 300px;
	}

	.instagram_logo {
		width: 200px;
		margin-left: auto;
		margin-right: auto;		
	}

	.log_in {
		background-color: #ADCCFF;
		color: white;
	}

	.text_align {
		text-align: center;
	}

	.Inline {
		display: inline-block;
		margin-left: 5px;
	}

	#sign_up {
		width: 100%;
	}

	#sign_up input {
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
		margin-bottom: 3px;
		background-color: #fafafa;
	}

	button {
		background-color: rgb(56, 151, 240);
		color: white;
		padding: 14px;
		margin: 8px 0;
		border: none;
		width: 100%;

	}